body, h1, h3, form, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6ed5bb;
    color: #333;
    text-align: center;
    padding: 20px;
    position: relative;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

#tagline {
    margin-bottom: 20px;
    font-size: 16px;
    font-style: italic;
}

#tarotForm {
    margin-bottom: 20px;
}

#interpretation {
    padding: 10px;
    font-style: italic;

}

#cardContainer {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.card { 
    width: 300px;
    height: 500px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    position: relative;
}

#cocktailContainer {
    margin-top: 40px;

}

.cocktail-img {
    margin-bottom: 20px;
    /* background-color: #ff2626;
    border: 2px solid #e4841e;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto; */
}

button {
    background-color: #b91ee4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

